body {
  background-color: #1d1919;
}

#app {
  display: flex;
  flex-flow: row wrap;
  border: 10px solid ghostwhite;

  #eat {
    background-color: #eaf5ff;
    width: 50%;
    height: 50vh;
    
  }

  #play {
    background-color: #c8e6f5;
    width: 50%;
    height: 50vh;
  }

  #sleep {
    background-color: #f6f5f5;
    width: 50%;
    height: 50vh;
  }

  #fight {
    background-color: #d7f7f5;
    width: 50%;
    height: 50vh;
  }
}